{% load i18n %}
{% load bootstrap3 %}
<div class="form-group stripe-blik-code">
    <label for="id_{{ field_name }}">{% trans "Kod BLIK" %}</label>
    <input
        type="text"
        name="{{ field_name }}"
        id="id_{{ field_name }}"
        class="form-control"
        inputmode="numeric"
        pattern="[0-9]{6}"
        maxlength="6"
        minlength="6"
        required
        autocomplete="off"
        placeholder="123456"
    >
    <p class="help-block">
        {% trans "Kod wygeneruj w aplikacji swojego banku bezpośrednio przed złożeniem zamówienia." %}
    </p>
</div>